.section.quote {
    display: block;
    .quote__text {
        font-size: 1.2em;
        line-height: 1.2;
        color: var(--text-color);
    }
    .quote__author {
        color: var(--text-light);
        text-align: right;
        margin-top: 0.75em;
    }
    svg {
        color: var(--primary-color);
        font-size: 1.5em;
        margin-right: 0.5em;
    }
}