//GLOBAL STYLES/RESPONSIVENESS
:root{
    --background-color: #fff;
    --background-light: #fff;
    --shadow-color: rgba(0,0,0,0.2);
    --primary-color: rgb(26, 173, 85);
    --text-color: #0A0A0A;
    --text-light: #575757;
    --font-size: 16px;
    --animation-speed: 1;
}
@function getAnimationDuration($duration: number) {
    @return calc($duration * var(--animation-speed));
}

@import "partials/animations.scss" ;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: var(--font-size);
    font-family: 'Roboto', sans-serif;
    padding-top: 55px;
    background-color: var(--background-light);
}

a {
    text-decoration: none;
    font-size: .9em;
}

img {
    object-fit: cover;
}

.section {
    display: flex;
    align-items: center;
    margin-bottom: 3vw;
    flex-wrap: wrap;
    &.block {
        display: block;
    }
    .column {
        width: 50%;
    }
    .title {
        color: var(--text-color);
        font-size: 2.5em;
        font-weight: 900;
        margin-bottom: .25em;
    }
    .info {
        color: var(--text-light);
        font-size: 1em;
        margin-bottom: 1.25em;
        letter-spacing: 1px;
        line-height: 1.3em;
    }
}

.container {
    padding-inline: 25vw;
}

@media screen and (max-width: 1280px) {
    .container {
        padding-inline: 18vw;
    }
}

@media screen and (max-width: 1050px) {
    .container {
        padding-inline: 12vw;
    }
}

@media screen and (max-width: 760px) {
    .container {
        padding-inline: 6vw;
    }
}

@media screen and (max-width: 500px) {
    .container {
        padding-inline: 3vw;
    }
}

// NAVIGATION
@import "partials/navbar";

@media screen and (max-width: 768px) {
    .navbar {
        .nav__links {
            display: none;
        }
        .sidebar__btn {
            display: block;
        }
    }
    .chef__card {
        box-shadow: 0 5px 10px var(--shadow-color)
    }

    .section {
        .column {
            width: 100%;
            padding: 0 !important;
            text-align: center;
            margin-bottom: 2em;
        }
    }

    .skills__list {
        display: inline-block;
        margin: 0.75em;
    }
    .section.skills .btn {
        display: block;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .footer {
        grid-template-columns: repeat(4, 1fr);
        .footer__section:nth-child(1) {
            grid-column:span 4 ;
        }
        .footer__section:nth-child(2), .footer__section:nth-child(3) {
            grid-column:span 2 ;
        }
    }
}

//LANDING 
@import "partials/landing";

//SKILLS

@import "partials/skills";

//QUOTE

@import "partials/quote";

//CHEF PROFILES

@import "partials/chefprofiles";

//FOOTER
@import "partials/footer";

//SEARCH BAR
@import "partials/_SearchBar";

//RECIPE CARD 
@import "partials/RecipeCard";

//SETTINGS PAGE
.options__container {
    box-shadow: 0 5px 10px var(--shadow-color);
    padding: 1em;
    border-radius: 5px;
    border-left: 0.5em solid var(--primary-color);
    background-color: var(--background-light);
    margin-top: 1em;
    display: flex;
    gap: 1em;
    .option {
        height: 3.5em;
        width: 3.5em;
        box-shadow: 0 3px 6px var(--shadow-color);
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        &.light {
            background-color: white;
        }
        &.dark {
            background-color: rgb(29, 29,29);
        }
        .tick {
            height: 2.5em;
            width: 2.5em;
            background-color: var(--primary-color);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 2px 5px var(--shadow-color);
            svg {
                height: 1.5em;
                width: 1.5em;
            }
        }

    }
    .btn span {
        display: inline-block;
        margin-left: 0.5em;
    }
}
.block {
    h2 {
        font-size: 1.75em;
        color: var(--text-color);
    }
}