:root{
    --background-color: #fff;
    --background-light: #fff;
    --shadow-color: rgba(0,0,0,0.2);
    --primary-color: rgb(26, 173, 85);
    --text-color: #0A0A0A;
    --text-light: #575757;
    --font-size: 16px;
    --animation-speed: 1;
}
@function getAnimationDuration($duration: number) {
    @return calc($duration * var(--animation-speed));
}

@import "partials/animations.scss" ;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: var(--font-size);
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    font-size: .9em;
}

img {
    object-fit: cover;
}

.container {
    padding-inline: 15vw;
}
// NAVIGATION
@import "partials/navbar";

 
@media screen and (max-width: 768px) {
    .navbar {
        .nav__links {
            display: none;
        }
        .sidebar__btn {
            display: block;
        }
    }
}

.section {
    display: flex;
    align-items: center;
    margin-bottom: 3vw;
    .column {
        width: 50%;
    }
    .title {
        color: var(--text-color);
        font-size: 2.5em;
        font-weight: 900;
        margin-bottom: .25em;
    }
    .info {
        color: var(--text-light);
        font-size: 1em;
        margin-bottom: 1.25em;
        letter-spacing: 1px;
        line-height: 1.3em;
    }
}

//LANDING 
@import "partials/landing";

//SKILLS

.section.skills {
    .column.img {
        img{
            width: 100%;
        }
    }
    .column.typography {
        padding-left: 1em;
    }
    .skills__list {
        border-left: 0.2em solid var(--primary-color);
        margin-bottom: 0.5em;
        padding: 0.1em 0 0.2em 0.5em;
        color: var(--text-light);
        font-weight: bold;
        transform: translateX(100%);
        opacity: 0;
        animation: getAnimationDuration(0.3s) slideInRight forwards;
        @for $i from 2 through 7 {
            &:nth-child(#{$i}){
                animation-delay: #{$i * .1}s;
            }
        }
    }
    .btn {
        margin-top: 0.75em;
    }
}